.container {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  min-height: 79vh;
}
.cart {
  width: 70%;
}
.payment {
  width: 30%;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 0 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  /* position: sticky; */
  /* top: 120px; */
  z-index: 99;
}
.totalprice {
  margin-top: 0.8rem;
}
.payment__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.buy__btn:hover {
  background-color: #038323;
}
.buy__btn {
  background-color: #11b239;
  border-radius: 30px;
  transition: 400ms;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.clear__btn {
  border-style: none;
  background-color: #ffffff;
  color: rgb(217, 0, 0);
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.buyitem,
.checkout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.buyitem a,
.checkout a {
  text-decoration: none;
  margin-top: 0.7rem;
  font-weight: bold;
  color: rgb(0, 98, 211);
  display: block;
}

@media only screen and (max-width: 860px) {
  .container {
    flex-direction: column-reverse;
  }
  .payment {
    width: 100%;
    position: block;
  }
  .cart {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .buy__btn {

    padding: 10px 17px;

  }
}