.mobilemenu__container{
    position: fixed;
    top: 0;
    left:0;
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.935);
    color:white;
    transition: 600ms;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.mobilemenu__container ul{

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    margin-top: 2rem;

}
.mobilemenu__container ul li{
    
    margin:1rem 0 ;
    list-style: none;
}
.mobilemenu__container ul a{
    
    color:white;
    font-size: 2rem;

    text-decoration: none;
}

