.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fafff9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.logo i {
  font-size: 2.4rem;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.logo i:hover {
  transform: scale(1.1);
}
.container h2 {
  cursor: pointer;
}
.shop .basket,
.shop .carticon {
  cursor: pointer;
  color: #118ab2;
  font-weight: 500;
}
.shop {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0 1.3rem;
}
.shop .basket {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  display: inline-block;
  transition: all 0.2s;
  pointer-events: none;
}
.shop .carticon {
  font-size: 1.7rem;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
}
.shop .carticon:hover + .basket {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.shop i:hover {
  transform: translateX(-5px);
}

.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  font-size: 1.1rem;
}
.menu a {
  margin: 0 1rem;
  cursor: pointer;
  color: #03071e;
  background-image: linear-gradient(to right, #1484ad, #0d7399 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  font-weight: 570;
  text-decoration: none;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
}

.shop a {
  color: #118ab2;
  text-decoration: none;
}

.menu a:hover {
  transform: scale(1.08);
  background-position: 100%;
}
.menuicon {
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
}
.shop .counter {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #2a9d8f;
  color: rgb(92, 9, 9);
  right: -10px;
  top: -10px;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  text-indent: -3px;
  line-height: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbar .menu {
    display: none;
  }
  .mobilemenu {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .mobilemenu {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    padding: 1rem 10px;
  }
  .shop .carticon + .basket {
    display: none;
  }
  .shop i:hover {
    transform: none;
  }
  .menuicon {
    margin-right: 0px;
  }
}
