@media (hover: hover) {
  #creditcard {
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
  }

  #money {
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
  }

  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
  }

  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }
}

.button:hover .button__text span {
  transform: translateY(-0.25rem);
  transition: transform 0.2s ease-in-out;
}

.button {
  border: none;
  outline: none;
  background-color: purple;
  margin-top: 2rem;
  width: 140px;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem 1.4rem;
  position: relative;
  border-radius: 1rem;
  text-align: left;
  letter-spacing: 0.7px;
  background-color: #118ab2;
  color: #fff;

  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.button:active {
  transform: translateY(1px);
}

.button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}
