.navbar {
  
  background: #fafff9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.logo i {
  font-size: 2.4rem;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.logo i:hover {
  transform: scale(1.1);
}
.container h2 {
  cursor: pointer;
}
.shop .basket,
.shop i {
  cursor: pointer;
  color: #118ab2;
  font-weight: 500;
}

.shop .basket {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  display: inline-block;
  transition: all 0.2s;
  pointer-events: none;
}
.shop i {
  font-size: 1.7rem;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
}
.shop i:hover + .basket {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.shop i:hover {
  transform: translateX(-5px);
}

.navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  font-size: 1.1rem;
}
.menu li {
  margin: 0 1rem;
  cursor: pointer;
  color: #03071e;
  background-image: linear-gradient(to right, #1484ad, #0d7399 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  font-weight: 570;

  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease-in-out;
}

.menu li:hover {
  transform: scale(1.08);
  background-position: 100%;
}

.shop .counter {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: #2a9d8f;
  color: rgb(92, 9, 9);
  right: -10px;
  top: -10px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8rem;
  line-height: 17px;
}
